# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Segurança (Usado em authRoutes.js e middleware/auth.js)
JWT_SECRET=insira_uma_chave_mestra_aqui
JWT_EXPIRES_IN=7d

# Banco de Dados (Caminho para o seu itagi-dev.db)
DB_PATH=./itagi-dev.db

# Uploads (Pasta para as fotos dos anúncios)
UPLOAD_PATH=./uploads

# Integração de Pagamentos (Para o futuro check-in pago)
PAYMENT_GATEWAY_KEY=sua_chave_de_teste_aqui